/*IMPORTANT*/
/*Form.css is liked to the following files:
1. confirm.php
2.edit_account.php
3.delete_account.php
4.change_p.php
*/



.confirm-text::after{
    content:'';
    height:2px;
    margin-top:10px;
    margin-left:220px;
    width:350px;
    display:block;
    background-color:#4964ff;
}
@media(max-width:991px){
    .confirm-text::after{
        margin-left:52px;
        width:270px;
    }
}
.form-confirm{
    width:600px;
    background-color: #fff;
    margin-left:100px;
    margin-top:20px; 
}

@media(max-width:991px){
    .form-confirm{
        margin-left:0px;
        width:375px;
    }
}
.account-img{
    margin-left:200px;
    margin-top:20px;
}
@media(max-width:991px){
    .account-img{
        margin-left:85px;
        margin-top:20px;
    }
}
.btn-confirm{
    font-size:18px;
    margin-top:30px;
    margin-bottom:20px;
    margin-left:50px;
    width:300px;
}
@media(max-width:991px){
    .btn-confirm{
        margin-left:5px;
        width:150px;
        font-size:15px;
    }
}
.btn-account{
    margin-top:30px;
    margin-bottom:20px;
    margin-left:140px;
    width:300px;
}
@media(max-width:991px){
    .btn-account{       
        margin-left:95px;
        width:150px;
    }
}
.form-button{
    margin-top:50px;
    margin-left:240px;
}
@media(max-width:991px){
    .delete-text{
        font-size:25px;
    }
}
@media(max-width:991px){
    .form-button{
        margin-top:30px;
        margin-left:40px;
    }
}